<div class="mt-4">
    <form method="POST" action="/users/store">
        <div class="form-group">
            <label for="name"><b>Name</b></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
        </div>

        <div class="form-group mt-4">
            <label for="age"><b>Age</b></label>
            <input type="text" class="form-control" id="age" name="age" placeholder="Enter age">
        </div>

        <div class="form-group mt-4">
            <label for="gender"><b>Gender</b></label>
            <input type="text" class="form-control" id="gender" name="gender" placeholder="Enter gender">
        </div>

        <div class="form-group mt-4">
            <label for="description"><b>Description</b></label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
        </div>

        <div class="form-group mt-4">
            <label for="avatar"><b>Avatar</b></label>
            <input type="text" class="form-control" id="avatar" name="avatar" placeholder="Enter avatar">
        </div>

        <button type="submit" class="btn btn-primary mt-4">Create</button>
    </form>
</div>