<div class="mt-4">
    <div class="row">

        {{#each users}}
        <div class="col-sm-6 col-lg-4">
            <div class="card mt-4">
                <img src="{{this.avatar}}" class="card-img-top" style="height: 276px!important; width: 100%!important;" alt="avatar">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a href="user/{{this.slug}}" class="btn btn-success">About me</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>